
@{
    Layout = null;
}
<h1>Add Cheese</h1>
<form method="post">
    <label>Name<input name="name" type="text" /></label></br>
    <label>Description<input name="description" type="text" /></label></br>
    <input type="submit" value="Add Cheese" />
</form>
